html {
  height: 100%;
}

body {
  background-color: #f9f9f9;
  color: #666;
  font-family: Avenir Next,Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
}

a {
  color: #2ecc71;
  &:visited {
    color: #2ecc71;
  }
  &:hover {
    color: #2ecc71;
  }
}

img {
  max-width: 100%;
}

.field_with_errors {
  color: green;
  background-color: red;
  display: table;
}

header {
  h1 {
    img {
      width: 240px;
    }
  }
  ul {
    padding: 24px;
    text-align: right;
  }
  li {
    margin-right: 8px;
  }
}

h1,h2 {
  margin-bottom: 16px;
  font-weight: normal;
}

h1 {
  font-weight: Lighter;
  font-style: italic;
}

.btn {
  border: solid 1px #2ecc71;
}

.wrap {
  padding-bottom: 24px;
}

.box {
  margin-bottom: 28px;
  .inner {
    padding: 24px 24px 20px;
    background-color: #FFF;
    .image {
      margin-bottom: 16px;
      &:hover {
        opacity: .4;
      }
    }
    .name {
      margin-bottom: 12px;
      font-size: 18px;
    }
    .price {
      text-align: right;
      font-size: 14px;
      span {
        margin-right: 4px;
        font-size: 22px;
      }
    }
  }
}

body#index.products {
  #visual-image {
    height: 320px;
    margin-top: -130px;
    z-index: -1;
    background: image-url("visual-image.jpg") no-repeat left;
    background-size: cover;
    &:before {
    }
  }
}

body#show.products {
  .wrap {
    margin-top: 24px;
    .container {
      background-color: #FFF;
      div {
        margin-bottom: 16px;
      }
    }
  }
}

