<div class="wrap">
  <div id="visual-image"></div>
  <div class="container">
    <p id="notice"><%= notice %></p>
    <h1>NEW</h1>
    <div class="row">
      <% @products.each do |product| %>
        <div class="box col-sm-4">
          <div class="inner">
            <div class="image"><%= link_to image_tag(product.img), product %></div>
            <div class="name"><%= link_to product.name, product %></div>
            <div class="price"><span><%= product.price %></span>円</div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
